.footer {
  text-align: right;
  font-size: 1rem;
  padding: 1em 0;
  background: var(--background-secondary);
  color: var(--text-secondary);
}

.footer__info {
  font-weight: 700;
}

.footer__copyright {
  font-style: italic;
}
